@model InstaSport.Web.ViewModels.Games.GamesBySportViewModel

@{ 
    ViewBag.Title = $"{Model.SportName} Games";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("_Games", Model.Games)

@section scripts {
    <script>
        $(".join-game").click(function () {
            var gameId = $(this).attr("data-id");
            $.post("/Games/Join", { id: gameId },
                function (data) {
                    var playersCount = data.PlayersCount;
                    $('strong[data-id="players-' + gameId + '"]').text(playersCount);
                    $('#progress-' + gameId)
                        .attr('aria-valuenow', data.Progress)
                        .attr('style', 'width:' + data.Progress + '%');
                });
        });
    </script>
}