@model IEnumerable<InstaSport.Web.ViewModels.Games.UpcomingGameViewModel>

@{
    ViewBag.Title = "Upcoming Games";
}

<h2>Upcoming Games</h2>

@Html.Partial("_Games", Model)

@section scripts {
    <script>
        $(".join-game").click(function () {
            var gameId = $(this).attr("data-id");
            $.post("/Games/Join", { id: gameId },
                function (data) {
                    var playersCount = data.PlayersCount;
                    $('strong[data-id="players-' + gameId + '"]').text(playersCount);
                    $('#progress-' + gameId)
                        .attr('aria-valuenow', data.Progress)
                        .attr('style', 'width:' + data.Progress + '%');
                });
        });
    </script>
}
