/* Fonts */
@font-face {
    font-family: 'aeromatics-bold-italic';
    src: url('../fonts/AeroMatics/aero_matics_bold_italic-webfont.eot');
    src: url('../fonts/AeroMatics/aero_matics_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AeroMatics/aero_matics_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/AeroMatics/aero_matics_bold_italic-webfont.woff') format('woff'),
         url('../fonts/AeroMatics/aero_matics_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/AeroMatics/aero_matics_bold_italic-webfont.svg#aero_maticsbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeromatics-bold';
    src: url('../fonts/AeroMatics/aero_matics_bold-webfont.eot');
    src: url('../fonts/AeroMatics/aero_matics_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AeroMatics/aero_matics_bold-webfont.woff2') format('woff2'),
         url('../fonts/AeroMatics/aero_matics_bold-webfont.woff') format('woff'),
         url('../fonts/AeroMatics/aero_matics_bold-webfont.ttf') format('truetype'),
         url('../fonts/AeroMatics/aero_matics_bold-webfont.svg#aero_maticsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeromatics-italic';
    src: url('../fonts/AeroMatics/aero_matics_italic-webfont.eot');
    src: url('../fonts/AeroMatics/aero_matics_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AeroMatics/aero_matics_italic-webfont.woff2') format('woff2'),
         url('../fonts/AeroMatics/aero_matics_italic-webfont.woff') format('woff'),
         url('../fonts/AeroMatics/aero_matics_italic-webfont.ttf') format('truetype'),
         url('../fonts/AeroMatics/aero_matics_italic-webfont.svg#aero_maticsitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aeromatics-regular';
    src: url('../fonts/AeroMatics/aero_matics_regular-webfont.eot');
    src: url('../fonts/AeroMatics/aero_matics_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AeroMatics/aero_matics_regular-webfont.woff2') format('woff2'),
         url('../fonts/AeroMatics/aero_matics_regular-webfont.woff') format('woff'),
         url('../fonts/AeroMatics/aero_matics_regular-webfont.ttf') format('truetype'),
         url('../fonts/AeroMatics/aero_matics_regular-webfont.svg#aero_maticsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: aeromatics-regular;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    font-family: aeromatics-bold-italic;
    font-size: 2.5rem;
}