@model IEnumerable<InstaSport.Web.ViewModels.Cities.CityViewModel>

<div class="container">
    @foreach(var city in @Model)
{
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.DisplayFor(m => city)
                </div>
            </div>
        </div>
    }
</div>