@model IEnumerable<InstaSport.Web.ViewModels.Sports.SportViewModel>

<div class="container">
    @foreach (var sport in @Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>@Html.ActionLink(sport.Name, "BySport", "Games", new { sportId = sport.Id }, null)</h3>
                </div>
            </div>
        </div>
    }
</div>