@model IEnumerable<InstaSport.Web.ViewModels.Sports.SportViewModel>

<div class="container">
    @foreach (var sport in @Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.DisplayFor(m => sport)
                </div>
            </div>
        </div>
    }
</div>