@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Sorry, man, we got really wasted last night.</h1>
<h2 class="text-danger">Please go <a href="/">somewhere else</a></h2>
