@model InstaSport.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Locations</h1>
@Html.Partial("_Locations", Model.Locations)
<h1>Sports</h1>
<div class="row">
    @foreach (var sport in Model.Sports)
    {
        <div class="col-md-2">
            @sport.Name
        </div>
    }
</div>