@model InstaSport.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Locations</h1>
<div class="row">
    @foreach (var location in Model.Locations)
    {
        <div class="col-md-4">
            <a href="@location.Url">
                @location.Name - @location.City.Name
            </a>
        </div>
    }
</div>
<h1>Sports</h1>
<div class="row">
    @foreach (var sport in Model.Sports)
    {
        <div class="col-md-2">
            @sport.Name
        </div>
    }
</div>